body {
	background-color: black;
	color: #0F0;
	font-family: courier, monospace;
	font-size: 16px;
}
a {
	color: #0F0;
	font-family: courier, monospace;
	font-size: 16px;
}
input {
	font-family: courier, monospace;
	height: 18px;
}
b {
	color: #0F0;
	font-weight: bold;
	font-size: 16px;
}
i {
	font-weight: bold;
	font-style: normal;
}
pre {
	font-family: courier, monospace;
}
.bold_text {
	font-weight: bold;
}
.prompt_container {
	display: flex;
	display: -webkit-flex; /* Safari */
}
.prompt_text {
	border: none;
	background-color: black;
	color: #0E0;
	//cursor: default;
	width: 100%;
}
.prompt {
	flex-grow: 1;
}
.prompt_text_div {
	flex-grow: 100;
	height: 18px;
}
.text {
	color: #0E0;
}
*:focus {
    outline: none;
}
